form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="text"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $space-14 $space-12;
}
