form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $space-12 $space-10;
}

input[type="text"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
